html, body {
  margin: 0;
  padding: 0;
  
}

h1 {
  text-align: center;
}

/*
canvas {
  display: block;
}
*/

.colorPicker {
  position: absolute;
  left: 240px;
  
}

.footer {
  position:absolute;
  top: 481px;
  left: 20px
}

.p5Canvas {
  display: inline;
  position: relative;
  left: 20px;
}

.pausebttn {
  display: inline-block;
  position: absolute;
  left: 240px;
  top: 80px;
}
.pcp {
  position: absolute;
  left: 300px;
}

.ppause {
  position: absolute;
  left: 350px;
  top: 65px;
}

#cpL1 {
  top: 110px;
}

#cpL2 {
  top: 140px;
}

#cpI {
  top: 170px;
}

#cpCuad {
  top: 200px;
}

#cpS {
  top: 230px;
}

#cpZ {
  top: 260px;
}

#cpT {
  top: 290px;
}

#pcpL1 {
  top: 96px;
}

#pcpL2 {
  top: 127px;
}

#pcpI {
  top: 157px;
}

#pcpCuad {
  top: 187px;
}

#pcpS {
  top: 217px;
}

#pcpZ {
  top: 247px;
}

#pcpT {
  top: 277px;
}