html, body {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  .footer {
    text-align: center;
  }
  
  .lcv {
    border: 1px;
    border-style:double;
    width: 20px;
    text-align: center;
  }
  